{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "max-lines": [
      "warn",
      {
        "max": 600,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-console": "error"
  }
}